spec:
  inputs:
    SERVICE:
       description: "The Service that should be updated and promoted to prod"
    VERSION:
       description: "The Version that the Service is being updated to"

---
stages:
   - prod-update
   - dt-event

kube-prod-update:
    stage: prod-update
    image: alpine/kubectl:latest
    script:
        - ls
        - SERVICE=$(echo "$[[ inputs.SERVICE ]]")
        - VERSION=$(echo "$[[ inputs.VERSION ]]")
        # update images
        - | 
           sed -i "s#image: .*#image: `kubectl -n staging get deployment -o jsonpath='{.items[*].spec.template.spec.containers[0].image}' --field-selector=metadata.name=$SERVICE`#" $SERVICE.yml
        # update version
        - | 
           sed -i "s#  app.kubernetes.io/version: v1#  app.kubernetes.io/version: $VERSION#" $SERVICE.yml
        # update name
        - | 
           sed -i "s#  name: $SERVICE#  name: $SERVICE-$VERSION#" $SERVICE.yml
        - |
           kubectl apply -f $SERVICE.yml


dt-event-push:
    stage: dt-event
    image: alpine/curl:8.14.1
    script:   
        - echo "$CI_COMMIT_MESSAGE"
        - echo "$CI_PIPELINE_IID"
        - |
            PAYLOAD1='{ "entitySelector": "type(SERVICE),entityName.startsWith('
        - |
            PAYLOAD2=' - "),toRelationships.isNamespaceOfService(type(CLOUD_APPLICATION_NAMESPACE),entityName.equals(prod)), "eventType": "CUSTOM_INFO", "properties": { "Gitlab Build Number": "'
        - |
            PAYLOAD3='", "Git commit": "'
        - |
            PAYLOAD4='" }, "title": "Deployment Event" }'
        - |
            PAYLOAD="$PAYLOAD1$SERVICE$PAYLOAD2$VERSION$PAYLOAD3$CI_COMMIT_MESSAGE$PAYLOAD4"
        - |
            PAYLOAD=$(echo "$PAYLOAD")
        - |
            PAYLOAD="${PAYLOAD//$'\n'/}"
        - echo "$PAYLOAD" 
        - |
            PAYLOAD=$(echo "$PAYLOAD")
        - | 
            curl -X "POST" \
            "https://$DT_TENANT_UUID.live.dynatrace.com/api/v2/events/ingest" \
            -H "accept: application/json; charset=utf-8" \
            -H "Authorization: Api-Token $DT_ACCESS_TOKEN" \
            -H "Content-Type: application/json; charset=utf-8" \
            -d "$PAYLOAD"