stages:
    - build
    - imageBuildAndPush
    - deployDev
    - dt-event
    - jmeter-test
    - imageBuildAndPush-validated
    - imageBuildAndPushStaging
    - release
    - deployStag
    - regcred-clean
    - stag-clean
    - deploy-clean
    - deploy-stag-clean

go-build:
    rules:
      - if: $CI_COMMIT_TAG == null
    stage: build
    image: dynatraceacm/gobuilder
    script:
        - export GOPATH=$PWD
        - mkdir -p src/github.com/dynatrace-sockshop/catalogue/
        - cp -R ./api src/github.com/dynatrace-sockshop/catalogue/
        - cp -R ./main.go src/github.com/dynatrace-sockshop/catalogue/
        - cp -R ./glide.* src/github.com/dynatrace-sockshop/catalogue/
        - cd src/github.com/dynatrace-sockshop/catalogue
        - glide install
        - go build -a -ldflags -linkmode=external -installsuffix cgo -o ./catalogue main.go
        - cd /builds/sockshop/catalogue/
    artifacts:
        paths:
            - "/builds/sockshop/catalogue/src/github.com/dynatrace-sockshop/catalogue/"

dt-event-push:
    rules:
      - if: $CI_COMMIT_TAG == null
    stage: dt-event
    dependencies:
        - "deploy-to-dev"
    image: alpine/curl:8.14.1
    script:   
        - echo "$CI_COMMIT_MESSAGE"
        - echo "$CI_PIPELINE_IID"
        - |
            PAYLOAD1='{ "entitySelector": "type(SERVICE),entityName.startsWith('
        - |
            PAYLOAD2=' - )", "eventType": "CUSTOM_INFO", "properties": { "Gitlab Build Number": "'
        - |
            PAYLOAD3='", "Git commit": "'
        - |
            PAYLOAD4='" }, "title": "Deployment Event" }'
        - |
            PAYLOAD="$PAYLOAD1$CI_PROJECT_NAME$PAYLOAD2$CI_PIPELINE_IID$PAYLOAD3$CI_COMMIT_MESSAGE$PAYLOAD4"
        - |
            PAYLOAD=$(echo "$PAYLOAD")
        - |
            PAYLOAD="${PAYLOAD//$'\n'/}"
        - echo "$PAYLOAD" 
        - |
            PAYLOAD=$(echo "$PAYLOAD")
        - | 
            curl -X "POST" \
            "https://$DT_TENANT_UUID.live.dynatrace.com/api/v2/events/ingest" \
            -H "accept: application/json; charset=utf-8" \
            -H "Authorization: Api-Token $DT_ACCESS_TOKEN" \
            -H "Content-Type: application/json; charset=utf-8" \
            -d "$PAYLOAD"

docker-buildnpush:
  rules:
      - if: $CI_COMMIT_TAG == null
  image: docker:27.2.0
  stage: imageBuildAndPush
  dependencies:
    - go-build
  #needs: ["monaco", "init_keptn"]
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: 0
    DOCKER_DRIVER: overlay2
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    #important! MTU 1410 makes the MTU packages compatible with the underlying network. Otherwise, it will get stuck in downloads 
    DOCKER_DAEMON_OPTIONS: "--insecure-registry=$CI_REGISTRY --mtu=1410"
  services:
    - name: docker:27.2.0-dind
      entrypoint: [ "sh", "-c", "dockerd-entrypoint.sh $DOCKER_DAEMON_OPTIONS" ]
  before_script:
    - docker info
  script:
    - docker info
    - docker build -t $CI_REGISTRY_IMAGE:DEV-$CI_PIPELINE_IID .
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker push $CI_REGISTRY_IMAGE:DEV-$CI_PIPELINE_IID
    - echo "AUTH_TOKEN=$(sed -nE '$!{:a;N;$!ba;s/\n//g;s/"auth":[^"]*"([^"]*)"/\n\1\nAUTH/g};/^[^\n]*\nAUTH/P;D' ~/.docker/config.json)" >> auth.env
    - echo "$CI_PIPELINE_IID"
  artifacts:
        reports:
            dotenv: auth.env

deploy-to-dev:
    rules:
      - if: $CI_COMMIT_TAG == null
    dependencies:
        - docker-buildnpush
        - go-build
    stage: deployDev
    image: alpine/kubectl:latest
    script:
        - kubectl create secret docker-registry catalogueregcred --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$AUTH_TOKEN
        - echo "$CI_DEPLOY_USER, $CI_DEPLOY_PASSWORD"
        - kubectl create secret docker-registry cataloguedeploycred --docker-server=$CI_REGISTRY --docker-username=$CI_DEPLOY_USER --docker-password=$CI_DEPLOY_PASSWORD -n dev
        - 'sed -i "s#image: .*#image: $CI_REGISTRY_IMAGE:DEV-$CI_PIPELINE_IID#" manifest/catalogue.yml'
        - "kubectl -n dev apply -f manifest/catalogue.yml"
        - kubectl wait pod -l app=catalogue  -n dev --for=condition=Ready --timeout=300s
        - kubectl delete secret catalogueregcred
        - kubectl delete secret cataloguedeploycred -n dev

jmeter-tests:
    rules:
      - if: $CI_COMMIT_TAG == null
    dependencies:
        - go-build
    needs:
        - deploy-to-dev
        - go-build
    stage: jmeter-test
    image: dynatraceace/jmeter-runner:1.0.0-acl
    script:
        - /jmeter/bin/jmeter.sh -n -t jmeter/basiccheck.jmx -l HealthCheck_catalogue_dev_$VERSION-$CI_PIPELINE_IID -JSERVER_URL=catalogue.dev -JSERVER_PORT=80 -JCHECK_PATH "/health" -JVUCount=1 -JLoopCount=1 -JDT_LTN="HealthCheck_1" -JTestDuration='120' -JThinkTime='250' > Basicresults.txt
        - RESULT=$(awk '/Err:\s*/{print $15}' Basicresults.txt)
        - GOAL="0"
        - echo $RESULT
        - RESULT=$(echo "$RESULT")
        - if [ $RESULT != $GOAL ]; then cat BasicResults.txt && echo "jmeter returned error" && exit 63; fi
        - /jmeter/bin/jmeter.sh -n -t jmeter/catalogue_load.jmx -l FuncCheck_catalogue_dev_$VERSION-$CI_PIPELINE_IID -JSERVER_URL=catalogue.dev -JSERVER_PORT=80 -JCHECK_PATH "/health" -JVUCount=1 -JLoopCount=1 -JDT_LTN="FuncCheck_1" -JTestDuration='120' -JThinkTime='250' > Funcresults.txt
        - RESULT=$(awk '/Err:\s*/{print $15}' Funcresults.txt)
        - echo $RESULT
        - RESULT=$(echo "$RESULT")
        - if [ $RESULT != $GOAL ]; then cat FuncResults.txt && echo "jmeter returned error" && exit 63; fi

docker-buildnpush-validated:
  image: docker:27.2.0
  stage: imageBuildAndPush-validated
  dependencies:
    - go-build
    - jmeter-tests
  rules:
    - if: $CI_COMMIT_TAG == null  
  #needs: ["monaco", "init_keptn"]
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: 0
    DOCKER_DRIVER: overlay2
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    #important! MTU 1410 makes the MTU packages compatible with the underlying network. Otherwise, it will get stuck in downloads 
    DOCKER_DAEMON_OPTIONS: "--insecure-registry=$CI_REGISTRY --mtu=1410"
  services:
    - name: docker:27.2.0-dind
      entrypoint: [ "sh", "-c", "dockerd-entrypoint.sh $DOCKER_DAEMON_OPTIONS" ]
  before_script:
    - docker info
  script:
        - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
        - docker pull $CI_REGISTRY_IMAGE:DEV-$CI_PIPELINE_IID
        - docker tag $CI_REGISTRY_IMAGE:DEV-$CI_PIPELINE_IID $CI_REGISTRY_IMAGE:latest
        - docker push $CI_REGISTRY_IMAGE:latest

docker-buildnpush-staging:
  image: docker:27.2.0
  stage: imageBuildAndPushStaging
  rules:
    - if: $CI_COMMIT_TAG  
  #needs: ["monaco", "init_keptn"]
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: 0
    DOCKER_DRIVER: overlay2
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    #important! MTU 1410 makes the MTU packages compatible with the underlying network. Otherwise, it will get stuck in downloads 
    DOCKER_DAEMON_OPTIONS: "--insecure-registry=$CI_REGISTRY --mtu=1410"
  services:
    - name: docker:27.2.0-dind
      entrypoint: [ "sh", "-c", "dockerd-entrypoint.sh $DOCKER_DAEMON_OPTIONS" ]
  before_script:
    - docker info
  script:
        - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
        - docker pull $CI_REGISTRY_IMAGE:latest
        - docker tag $CI_REGISTRY_IMAGE:latest $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
        - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
        - echo "AUTH_TOKEN=$(sed -nE '$!{:a;N;$!ba;s/\n//g;s/"auth":[^"]*"([^"]*)"/\n\1\nAUTH/g};/^[^\n]*\nAUTH/P;D' ~/.docker/config.json)" >> auth.env
        - echo "$CI_PIPELINE_IID"
  artifacts:
        reports:
            dotenv: auth.env

release_job:
  dependencies:
        - docker-buildnpush-staging
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG                 # Run this job when a tag is created
  script:
    - echo "running release_job"
  release:                               # See https://docs.gitlab.com/ee/ci/yaml/#release for available properties
    tag_name: '$CI_COMMIT_TAG'
    description: '$CI_COMMIT_TAG'

deploy-to-staging:
    dependencies:
        - docker-buildnpush-staging
    stage: deployStag
    rules:
        - if: $CI_COMMIT_TAG 
    image: alpine/kubectl:latest
    script:
        - kubectl create secret docker-registry catalogueregcred --docker-server=$CI_REGISTRY --docker-username=$CI_REGISTRY_USER --docker-password=$AUTH_TOKEN
        - echo "$CI_DEPLOY_USER, $CI_DEPLOY_PASSWORD"
        - kubectl create secret docker-registry cataloguedeploycred --docker-server=$CI_REGISTRY --docker-username=$CI_DEPLOY_USER --docker-password=$CI_DEPLOY_PASSWORD -n staging
        - 'sed -i "s#image: .*#image: $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG#" manifest/catalogue.yml'
        - 'sed -i "s#namespace: .*#namespace: staging#" manifest/catalogue.yml'
        - "kubectl -n staging apply -f manifest/catalogue.yml"
        - kubectl wait pod -l app=catalogue  -n staging --for=condition=Ready --timeout=300s
        - kubectl delete secret catalogueregcred
        - kubectl delete secret cataloguedeploycred -n staging

regcred-cleaner:
    rules:
        - when: on_failure
        - if: $CI_COMMIT_TAG == null
    stage: regcred-clean
    image: alpine/kubectl:latest
    script:
        - kubectl delete secret catalogueregcred
    allow_failure: true

deploy-cleaner:
    rules:
        - when: on_failure
        - if: $CI_COMMIT_TAG == null
    stage: deploy-clean
    image: alpine/kubectl:latest
    script:
        - kubectl delete secret cataloguedeploycred -n dev
    allow_failure: true

deploy-stag-cleaner:
    rules:
        - when: on_failure
        - if: $CI_COMMIT_TAG
    stage: deploy-stag-clean
    image: alpine/kubectl:latest
    script:
        - kubectl delete secret cataloguedeploycred -n staging
    allow_failure: true

staging-cleaner:
    rules:
        - when: on_failure
        - if: $CI_COMMIT_TAG
    stage: stag-clean
    image: alpine/kubectl:latest
    script:
        - "kubectl -n staging delete -f manifest/catalogue.yml"
    allow_failure: true